h1{
  text-align: center;
  
  padding: 10px;
  
}


/*oz ni mi jasno da rabis dva tadva da centiras formo*/
body { /*sam jst nevem od kje je chat dubu ta body*/
  text-align: center;
  font-family: 'Asap Condensed', sans-serif;
}

form {
  display: inline-block;
  text-align: left;
}


.cela_forma{
  background-color: whitesmoke;
  border: 1px solid black;
  margin: 20px;
}

#rezultati{
  background-color: floralwhite;
  border-radius: 20px;
  margin: 10px;
  padding: 10px

}


.ni {
  margin-left: 110px;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(219, 48, 48);
  color: white;
  border: 1px solid black;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.7s, color 0.7s; 
  
}


.je {
  background-color: rgb(46, 139, 46);
  color: black;
  margin-left: 110px;
  margin-top: 10px;
  padding: 10px;
  transition: background-color 0.7s, color 0.7s; 
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
  
  
}

#spremeni-barvo{
  background-color: white;
  color: black;
  cursor: pointer;
}

#spremeni-barvo.clicked{
  background-color: black;
  color: white;
  cursor: pointer;
}

input:focus{
  outline: none;
}

input[type=text].empty {
  border: 2px solid rgb(170, 170, 170);
}

.valid{
  border: 3px solid rgb(23, 138, 23) !important;
}

.invalid{
  border: 3px solid rgb(242, 78, 78) !important;
}