@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	height: 100vh;
}

h1 {
  font-weight: 400;
}

.container {
  width: 100%;
  margin: 0 auto;
	padding: 0 50px;
}

.header {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 0;
  min-width: 300px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.diff-percent {
  margin: 0 0 0 7px;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.block {
  background-color: #E9E9E9;
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.result-box > p {
  margin-bottom: 15px;
}

.result-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.result-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  margin: 0 20px 0 0;
}

.result-number {
  font-size: 20px;
  font-weight: 500;
}

.chart-container {
  max-width: 1024px;
  margin: 0 auto;
}

#navadno-investiranje {
  background-color: #3D8AFF;
}

#skladi {
  background-color: #FF9A3D;
}

#razlika {
  background-color: #FF3D48;
}

input, select {
  padding: 10px;
  border-radius: 7px;
}

button {
  outline: none;
  border: none;
  padding: 15px 25px;
  margin: 20px 0 0;
  color: #fff;
  font-weight: 600;
  border-radius: 7px;
}

button:disabled {
  background-color: #aeceff;
}

button:enabled {
  cursor: pointer;
  background-color: #3D8AFF;
}

#rezultati{
  background-color: floralwhite;
  border-radius: 20px;
  margin: 10px;
  padding: 10px
}

input:focus{
  outline: none;
}

.empty, select {
  border: 2px solid rgb(190, 190, 190);
}

.valid {
  border: 3px solid rgb(23, 138, 23) !important;
}

.invalid {
  border: 3px solid rgb(242, 78, 78) !important;
}